<p>Welcome, <%= current_user.username %>
<br>
<br>
<%=flash[:delete]%>
<%=flash[:error]%>
<br>
   <% @user.logs.each do |log| %>
        <ul><a href="/logs/<%=log.id%>">User ID: <%=log.user_id%>: </a><%=log.distance%> Miles - <%=log.pace%></ul>
    <%end%>
<br>
<a href="/logs/new">Create a New Run Log</a>
<br>
<br>
<br>
<br>







