<p>Welcome, <%= current_user.username %>
<br>
<br>
<%=flash[:delete]%>
<%=flash[:error]%>
<br>
<% if @user.id == @logs.user_id %>
    <% @logs.each do |log| %>
    <ul><a href="/logs/<%=log.id%>"> </a><%=log.distance%> Miles - <%=log.pace%></ul>
    <%end %>
<%end%>
<br>
<a href="/logs/new">Create a New Run Log</a>
<br>
<br>
<br>
<br>







